$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  padding: 20px 0;
}

.scout7-logo {
  background: url('../images/logo.png') no-repeat left center/105px;
  height: 48px;
  line-height: 48px;
  margin: 0 0 0 10px;
  padding: 0 0 0 125px;
}

input[type="text"] {
  margin: 20px 0 0;
}

.table {
  margin: 30px 0;

  th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .caret-hide {
      color: #fff;
    }

    .caret-flip {
      transform: rotate(180deg);
    }
  }

  thead tr th, tbody tr td {
    line-height: 30px;
  }
}

.modal-show {
  background: rgba(0,0,0,.5);
  display: block;
}
