
<div class="row">
  <div class="col-md-12">

    <input type="text" class="form-control" placeholder="search players ..." ng-model="ps.filter"/>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-hover">
      <thead>
        <tr>
          <th ng-click="ps.setOrderBy('id')">ID <span ng-class="{'caret': true, 'caret-hide': ps.orderBy !== 'id', 'caret-flip': ps.reverse}"></th>
          <th ng-click="ps.setOrderBy('name')">Name <span ng-class="{'caret': true, 'caret-hide': ps.orderBy !== 'name', 'caret-flip': ps.reverse}"></th>
          <th ng-click="ps.setOrderBy('dateOfBirth')">DOB <span ng-class="{'caret': true, 'caret-hide': ps.orderBy !== 'dateOfBirth', 'caret-flip': ps.reverse}"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in ps.players | orderBy: ps.orderBy : ps.reverse | filter: ps.filter">
          <td>{{ player.id }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.dateOfBirth }}</td>
          <td><button type="button" class="btn btn-sm btn-danger pull-right" ng-click="ps.setDelete(player.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div ng-class="{'modal': true, 'fade': true, 'in modal-show': ps.delete !== 0 }" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Player? </h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-success" ng-click="ps.setDelete(0)">No Don't</button>
          <button type="button" class="btn btn-danger" ng-click="ps.deleteConfirmed()">Yes Delete</button>
        </div>
      </div>

    </div>
  </div>
